<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "org/apache/log4j/xml/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%p][%c] - %m%n" />
        </layout>
    </appender>

    <category name="org.xeustechnologies">
        <priority value="DEBUG" />
    </category>

    <category name="com">
        <priority value="WARN" />
    </category>

    <category name="org">
        <priority value="WARN" />
    </category>

    <category name="net">
        <priority value="WARN" />
    </category>

    <category name="httpclient">
        <priority value="WARN" />
    </category>

    <root>
       <appender-ref ref="CONSOLE"/>
    </root>

</log4j:configuration>