<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jcl="http://www.xeustechnologies.org/schema/jcl"
    xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.xeustechnologies.org/schema/jcl http://www.xeustechnologies.org/schema/jcl/jcl.xsd">

    <jcl:jcl id="jcl1">
        <constructor-arg>
            <list>
                <value>target/test-jcl.jar</value>
            </list>
        </constructor-arg>
    </jcl:jcl>

    <jcl:jcl id="jcl2">
        <constructor-arg>
            <list>
                <value>target/test-jcl.jar</value>
            </list>
        </constructor-arg>
    </jcl:jcl>

    <bean id="test1" class="org.xeustechnologies.jcl.test.Test">
        <jcl:jcl-ref ref="jcl1" />
        <constructor-arg ref="name"/>
        <property name="lastName">
            <bean class="java.lang.String">
                <jcl:jcl-ref ref="jcl2" />
                <constructor-arg>
                    <value>Zafar</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>

    <bean id="test2" class="org.xeustechnologies.jcl.test.Test">
        <constructor-arg ref="name"/>
        <property name="lastName">
            <value>Zafar</value>
        </property>
    </bean>

    <bean id="name" class="java.lang.String">
        <jcl:jcl-ref ref="jcl2" />
        <constructor-arg>
            <value>Kamran</value>
        </constructor-arg>
    </bean>

    <!--
        Creating a JCL-loaded bean without using the JCL XML
        Arguments:
        0- The jar class loader
        1- Name of the class to be loaded

        The rest are optional arguments used in constructor/setter injection for the bean to be loaded
    -->

    <!-- Singleton object factory -->
    <bean id="jclFactory" class="org.xeustechnologies.jcl.JclObjectFactory" />

    <bean id="test" factory-bean="jclFactory" factory-method="create">
        <!-- Factory-method arguments -->
        <constructor-arg>
            <ref bean="jcl1" />
        </constructor-arg>
        <constructor-arg>
            <value>org.xeustechnologies.jcl.test.Test</value>
        </constructor-arg>

        <!-- Bean arguments -->
        <constructor-arg>
            <value>Kamran</value>
        </constructor-arg>
        <property name="lastName">
            <value>Zafar</value>
        </property>
    </bean>
</beans>