<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- Singleton object factory -->
	<bean id="jclFactory" class="xeus.jcl.JclObjectFactory" />

	<!-- Test jar class loader -->
	<bean id="jclTest" class="xeus.jcl.JarClassLoader">
		<constructor-arg>
			<list>
				<value>test-jcl.jar</value>
			</list>
		</constructor-arg>
	</bean>

	<!-- 
		The Bean
		Arguments:
		0- The jar class loader
		1- Name of the class to be loaded
		
		The rest are optional arguments used in constructor/setter injection for the bean to be loaded 
	-->
	<bean id="test" factory-bean="jclFactory" factory-method="create">
		<!-- Factory-method arguments -->
		<constructor-arg>
			<ref bean="jclTest" />
		</constructor-arg>
		<constructor-arg>
			<value>xeus.jcl.test.Test</value>
		</constructor-arg>

		<!-- Bean arguments -->
		<constructor-arg>
			<value>Kamran</value>
		</constructor-arg>
		<property name="lastName">
			<value>Zafar</value>
		</property>
	</bean>
</beans>